USE [Shoe]
GO
/****** Object:  Table [dbo].[Producer]    Script Date: 25.12.2025 3:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer](
	[ProducerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Maker] PRIMARY KEY CLUSTERED 
(
	[ProducerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Producer] ON 

INSERT [dbo].[Producer] ([ProducerId], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Producer] ([ProducerId], [Name]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Producer] ([ProducerId], [Name]) VALUES (3, N'Poc')
SET IDENTITY_INSERT [dbo].[Producer] OFF
GO
