USE [Shoe]
GO
/****** Object:  Table [dbo].[User]    Script Date: 25.12.2025 3:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[FirstName] [nvarchar](35) NOT NULL,
	[SecondName] [nvarchar](35) NOT NULL,
	[Patronymic] [nvarchar](35) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [nchar](60) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [RoleId], [FirstName], [SecondName], [Patronymic], [Login], [Password]) VALUES (1, 1, N'Весения', N'Никифорова', N'Николаевна', N'94d5ous@gmail.com', N'$2a$11$4jBOGdDUf3K6YymyXaijXufRIjSuBfsR0f8h3v6IGVohnLM9LZVO6')
INSERT [dbo].[User] ([UserId], [RoleId], [FirstName], [SecondName], [Patronymic], [Login], [Password]) VALUES (2, 1, N'Руслан', N'Сазонов', N'Германович', N'uth4iz@mail.com', N'$2a$11$TkYOoEqSOidmxM/9Mi3bS.mZh.SOWYEbzqPnW9XyJFpaaycaXFktW')
INSERT [dbo].[User] ([UserId], [RoleId], [FirstName], [SecondName], [Patronymic], [Login], [Password]) VALUES (3, 1, N'Серафим', N'Одинцов', N'Артёмович', N'yzls62@outlook.com', N'$2a$11$VPvRzWDOYgKu4rlUtlwMsuj2C9CF/WmzmArlBtlWhDERY4nCC3xAi')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
