USE [Shoe]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 25.12.2025 3:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[ReceiveCode] [int] NOT NULL,
	[IsFinished] [bit] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [UserId], [OrderDate], [DeliveryDate], [ReceiveCode], [IsFinished]) VALUES (1, 4, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 901, 1)
INSERT [dbo].[Order] ([OrderId], [UserId], [OrderDate], [DeliveryDate], [ReceiveCode], [IsFinished]) VALUES (2, 1, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 902, 1)
INSERT [dbo].[Order] ([OrderId], [UserId], [OrderDate], [DeliveryDate], [ReceiveCode], [IsFinished]) VALUES (3, 2, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 903, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
