USE [Shoe]
GO
/****** Object:  Table [dbo].[Shoe]    Script Date: 25.12.2025 3:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shoe](
	[ShoeId] [int] IDENTITY(1,1) NOT NULL,
	[Article] [char](6) NOT NULL,
	[Price] [int] NOT NULL,
	[Discount] [tinyint] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Description] [nvarchar](100) NULL,
	[Size] [tinyint] NULL,
	[Color] [nvarchar](50) NULL,
	[VendorId] [int] NOT NULL,
	[ProducerId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IsFemale] [bit] NOT NULL,
	[PhotoName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Shoe] PRIMARY KEY CLUSTERED 
(
	[ShoeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Shoe] ON 

INSERT [dbo].[Shoe] ([ShoeId], [Article], [Price], [Discount], [Quantity], [Description], [Size], [Color], [VendorId], [ProducerId], [CategoryId], [IsFemale], [PhotoName]) VALUES (1, N'А112Т4', 4990, 3, 6, N'Демисезонные', NULL, NULL, 1, 1, 1, 1, N'1.jpg')
INSERT [dbo].[Shoe] ([ShoeId], [Article], [Price], [Discount], [Quantity], [Description], [Size], [Color], [VendorId], [ProducerId], [CategoryId], [IsFemale], [PhotoName]) VALUES (2, N'F635R4', 3244, 2, 13, N'Демисезонные', 39, N'бежевый', 2, 2, 1, 1, N'2.jpg')
INSERT [dbo].[Shoe] ([ShoeId], [Article], [Price], [Discount], [Quantity], [Description], [Size], [Color], [VendorId], [ProducerId], [CategoryId], [IsFemale], [PhotoName]) VALUES (3, N'H782T5', 4499, 5, 5, N'Классика', 43, N'чёрный', 1, 1, 2, 0, N'3.jpg')
SET IDENTITY_INSERT [dbo].[Shoe] OFF
GO
ALTER TABLE [dbo].[Shoe] ADD  CONSTRAINT [DF_Shoe_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Shoe] ADD  CONSTRAINT [DF_Shoe_IsFemale]  DEFAULT ((0)) FOR [IsFemale]
GO
ALTER TABLE [dbo].[Shoe]  WITH CHECK ADD  CONSTRAINT [FK_Shoe_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Shoe] CHECK CONSTRAINT [FK_Shoe_Category]
GO
ALTER TABLE [dbo].[Shoe]  WITH CHECK ADD  CONSTRAINT [FK_Shoe_Producer] FOREIGN KEY([ProducerId])
REFERENCES [dbo].[Producer] ([ProducerId])
GO
ALTER TABLE [dbo].[Shoe] CHECK CONSTRAINT [FK_Shoe_Producer]
GO
ALTER TABLE [dbo].[Shoe]  WITH CHECK ADD  CONSTRAINT [FK_Shoe_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([VendorId])
GO
ALTER TABLE [dbo].[Shoe] CHECK CONSTRAINT [FK_Shoe_Vendor]
GO
